*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
}

.flex_list{
    position: fixed;
    overflow: auto;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 15px 25px;
}
.flex_list a{
    color: white;
    display: block;
    float: left;
    border: 1px solid white;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 5px 15px;
}
.flex_list h2{
    color: white;
    margin-bottom: 20px;
    clear: both;
}


#display-flex{
    margin-top: 300px;
}




#flex-direction{
    margin-top: 100px;
}
.flex-direction{
    display: flex;
    width: 800px;
    background: tan;
}
.flex-direction>div{
    height: 100px;
    width: 50px;
    margin: 15px;
    background: teal;
    color: white;
}




#flex-wrap{
    margin-top: 100px;
}
.flex-wrap{
    display: flex;
    width: 800px;
    background: tan;
    flex-wrap: wrap;
}
.flex-wrap>div{
    height: 200px;
    width: 200px;
    margin: 15px;
    background: teal;
    color: white;
}



#flex-flow{
    margin-top: 100px;
}



#justify–content{
    margin-top: 100px;
}
.justify-content{
    display: flex;
    justify-content: space-around;
    width: 800px;
    background: tan;
}
.justify-content>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
}



#align-items{
    margin-top: 100px;
}
.align-items{
    display: flex;
    align-items: center;
    width: 800px;
    background: tan;
}
.align-items>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
}




#align-content{
    margin-top: 100px;
}
.align-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 500px;
    width: 800px;
    background: tan;
}
.align-content>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
}




#order{
    margin-top: 100px;
}
.order{
    display: flex;
    width: 800px;
    background: tan;
}
.order>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
}



#flex-grow{
    margin-top: 100px;
}
.flex-grow{
    display: flex;
    width: 800px;
    background: tan;
}
.flex-grow>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
    flex-grow: 1;
}


#flex-shrink{
    margin-top: 100px;
}
.flex-shrink{
    display: flex;
    width: 800px;
    background: tan;
}
.flex-shrink>div{
    height: 100px;
    width: 300px;
    margin: 15px;
    background: teal;
    color: white;
    flex-shrink: 1;
}




#flex-basis{
    margin-top: 100px;
}
.flex-basis{
    display: flex;
    width: 800px;
    background: tan;
}
.flex-basis>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
}



#flex{
    margin-top: 100px;
}
.flex{
    display: flex;
    width: 800px;
    background: tan;
}
.flex>div{
    height: 100px;
    width: 100px;
    margin: 15px;
    background: teal;
    color: white;
    flex: 0 0 300px;
}



#align-self{
    margin-top: 100px;
}
.align-self{
    display: flex;
    width: 800px;
    height: 250px;
    background: tan;
    align-items: center;
    
}
.align-self>div{
    height: 100px;
    width: 100px;
    margin: 0 15px;
    background: teal;
    color: white;
}